.product-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  overflow-x: auto;
}

.product-card {
  width: 200px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  flex-shrink: 0;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.product-name {
  font-size: 16px;
  height: 50px;
  margin: 0 0 10px 0;
}

.product-description {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}

.product-price {
  font-size: 14px;
  margin: 10px 0;
}

.product-quantity {
  width: 50px;
  text-align: center;
  margin-bottom: 10px;
}

.product-button, .details-button {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-details {
  text-align: center;
}
